@import url('./fonts.css');

*{
    font-family: 'Poppins', sans-serif;
}

.bg-dark-blue {
    background: #270685;
}
.rounded-lg {
    border-radius: 15px;
}

.btn-purchase{
    background: #270685;
    color: #fff;
}

.btn-purchase:hover{
    background: #1a0461;
    color: #fff;
}

.shadow-lg {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(255, 255, 255, 0.06); /* Shadow effect */
}
.quick-action-links{
    color: white;
    text-decoration: none;
}

.badge{
    font-family: 'Poppins-light', sans-serif;
}