.selected-tab{
    color: #270685;
}

#loadingSpinner .modal-content {
    background: transparent;
    border: none;
}

#loadingSpinner .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.25em;
}

.content {
    transition: opacity 0.3s ease;
}

.is-loading .content {
    opacity: 0.5;
}