<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/auth.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>

    <div id="loadingSpinner" class="loading-overlay">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    {% block content %}{% endblock %}

    <script>
        window.onload = function() {
            document.getElementById('loadingSpinner').style.display = 'none';
        };
    </script>

</body>
</html>
